/* Containers */
body {  font-size: 14px; }
.contenu{ width:890px; margin: auto;}

/* Moy Computer */
.grid_1 { width: 6.5%; }
.grid_2 { width: 15%; }
.grid_3 { width: 23.5%; }
.grid_4 { width: 32%; }
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; }
.grid_7 { width: 57.5%; }
.grid_8 { width: 66%; }
.grid_9 { width: 74.5%; }
.grid_10 { width: 83%; }
.grid_11 { width: 91.5%; }
.grid_12 { width: 99.5%; }
.grid_2_4{ width: 19%; }

.offset_1 { margin-left: 6.5%; }
.offset_2 { margin-left: 15%; }
.offset_3 { margin-left: 23.5%; }
.offset_4 { margin-left: 32%; }
.offset_5 { margin-left: 40.5%; }
.offset_6 { margin-left: 49%; }
.offset_7 { margin-left: 57.5%; }
.offset_8 { margin-left: 66%; }
.offset_9 { margin-left: 74.5%; }
.offset_10 { margin-left: 83%; }
.offset_11 { margin-left: 91.5%; }
.offset_12 { margin-left: 99.5%; }


#wrapper .box1 .slider-wrap{
    top: 19%;
}

.slide__image, .slide__content{
    height: 34em;
}

.slide__title{
    bottom: -0.5em;
}

h1{
  font-size: 5.5em;
}

.box1 #header-home .bloc{
  right: -50em !important;
}

.slider-wrap{
  width: 30em !important;
  height: 30em !important;
}

.slide__image{
  height: 30em !important;
}

.slide__title{
  bottom: -.25em !important;
  right: -1.2em !important;
}

.slider__content{
  top: 10%;
}

.menu-open .m-open{
  margin: 0 4em !important;
}

.txt_real_right span.p3{
  height: 55px !important;
}

.txt_real_right span.p3 span{
  height: 55px !important;
}
